textarea {
  resize: none;
}

h5 {
  display: inline;
  padding: 10px;
}

#mostRecent {
  border: solid 2px black;
  height: 800px;
  width: 800px !important;
  margin-left: 100px !important;
  margin-top: 50px;
  overflow: auto;
}
