textarea {
<<<<<<< HEAD
  resize: none !important;
=======
  resize: none;
>>>>>>> c30857365a7bba27799dd1a25b28a89fc3dfbda9
}

h5 {
  display: inline;
  padding: 10px;
}

#mostRecent {
  border: solid 2px black;
  height: 800px;
  width: 800px !important;
  margin-left: 100px !important;
  margin-top: 50px;
  overflow: auto;
}
