textarea {
  resize: none !important;
}

body {
  background-color: #dae5fccb !important;
}

h1 {
  background-color: #f7f7f7;
  padding: 10px;
  margin: 0px !important;
}
nav {
  background-color: #f3f3fd;
  margin: 0px;
}

h5 {
  display: inline;
  padding: 10px;
}
#borderMe {
  border: solid 2px black;
}

#dropdown {
  margin-right: 300px;
}
.col-5 {
  border: solid 2px rgb(71, 3, 90);
  height: 800px !important;
  width: 800px !important;
  overflow: auto;
  background-color: #f7f7f7;
  padding: 0 !important;
}
#recentSort {
  margin-left: 100px;
}
#popularSort {
  margin-right: 100px;
}

button {
  border-radius: 5px !important;
  border: solid gray 2px;
}
button a {
  color: black;
  text-decoration: none;
}
button[id="createPost"]a:link {
  text-decoration: none;
}
button[id^="id"],
button[id^="comment"] {
  background: none !important;
  border: none !important;
}
section[id^="section"] p {
  border: 1px solid black;
  background-color: rgb(224, 223, 222);
}
.style1 {
  background-color: rgb(222, 222, 252);
}
.style2 {
  background-color: rgb(189, 189, 221);
}
